body{
    background-image: linear-gradient(rgb(142, 206, 254), rgb(0, 0, 0));
    background-image: url(log_in.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;

.container{
margin: 100px 0 0 100px;
width: 70%;
height: 450px;
 display: flex;
 justify-content: center;
 gap: 10px;   
 
}
.container img{
    width: 10%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6842);
    transition: all ease-in-out 0.5s;
}
.container img:hover {
    width: 25%;
}
}