
body {
  font-family: 'Raleway', sans-serif;
  background-image: url(black.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;

  font-weight: 300;
}
.main {
  margin: 7rem auto;

}
.all {
  display: flex;
  margin: auto;
  width: 35%;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
}


.all:hover {
  margin: auto;
  width: 40%;
  
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
  .text {
    opacity: 1;
  }
  & > div {
    opacity: 1;
    transition-delay: 0s;
  } 
  .center-box {
    opacity: 0;
  }
}



.left, .center, .right, .lefter, .righter {
  width: 230px;
  transform-style: preserve-3d;
  border-radius: 10px;
  
  opacity: 0;
  transition: all .3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-blend-mode: color-burn;
}
.text {
  transform: translateY(30px);
  opacity: 0;
  transition: all .3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color:#e8ebe7;
  border-radius: 10px;
  text-shadow: 0 0 5px rgba(0, 14, 5, 0.6)
}
.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
}
.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
}
.center {
  width: 75%;
  margin: 0 auto; 
  border: 2px solid #ddecec88;
  text-align: left; 
  background-color:rgba(94, 107, 107, 0.533);
  border-radius: 10px;
  opacity: 1;
  background-image: url();
}
.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
}
.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
}
.center-box {
  font-weight: 300;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.533);
  border-radius: 10px;
  transition: all .6s ease;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 82, 82, 0.533);
  background-image: radial-gradient(circle at center top, #000000, rgba(18, 82, 82, 0.533));
  border-radius: 10px;
  text-shadow: 0 0 10px #0f0e0e;
  border-radius: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-10 .box {
  transition: 0.4s;
  box-shadow: 0 0 150px rgba(0, 0, 0, 0.1);
  border: 1px solid #00000012;
}
.center {
box-shadow: 0 0 30px 10px rgba(98, 222, 238, 0.6);
}

.section-10 .circle {
  background: #fff;
  font-size: 1.4rem;
  height: 70px;
  width: 78px;
  display: grid;
  place-items: center;
}

.section-10 .box i {
  color:rgba(98,  222, 238, 0.6);
}

.section-10 .box:hover {
  background: rgba(98, 222, 238, 0.6);
  border: 1px solid rgba(98, 222, 238, 0.6);
}

.section-10 .box:hover h6 {
  color: #141f17;
}
h1 {
  color: rgba(38, 150, 150, 0.533);
  text-align: center;
}